/* #demoFont {
    font-family: "Times New Roman", Times, serif;
    font-size: 19px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    } */

body {
    background-color:  #b3e5fc;
}

.navbar-brand {
    background:#b3e5fc;
    margin-left: 20px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
}

h1 {
    /* Put a 15-pixel margin at the bottom of the heading. */
    margin-bottom: 15px;
    /* Change the size of your font to 60 pixels high. */
    /*font-size: 60px;*/
    /* This will color the heading font white. */
    color: navy;
    /* Align the text to the center of its enclosing element (e.g. div). */
    /*text-align: center;*/
    /* Underline the text. */
    /*text-decoration: underline;*/
    /* The background of the heading element will now be black. */
    /*background-color: black;*/
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
}

h2 {
    color: navy;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
}

h2.comparison {
    color: navy;
    font-family: "Times New Roman", Times, serif;
    font-weight: 700;
    text-align: center;
}

.box {
    /* height: 600px; */
    padding: 10px;
    color: black;
    background: white;
    margin-top: 30px;
    margin-bottom: 30px;
    /*width: 500px; */
    margin-left: auto;
    margin-right: auto;
}

.data_table {
    font-size: 11pt; 
    font-family: Arial;
    border-collapse: collapse; 
    border: 1px solid silver;

}

.data_table td, th {
    padding: 5px;
}

.data_table tr:nth-child(even) {
    background: #E0E0E0;
}

.data_table tr:hover {
    background: silver;
    cursor: pointer;
}